SOCTest/WebContent/wsdl/TesteWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="soma">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="somaResponse">
    <complexType>
     <sequence>
      <element name="somaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="somaResponse">

      <wsdl:part element="impl:somaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="somaRequest">

      <wsdl:part element="impl:soma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TesteWS">

      <wsdl:operation name="soma">

         <wsdl:input message="impl:somaRequest" name="somaRequest">

       </wsdl:input>

         <wsdl:output message="impl:somaResponse" name="somaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TesteWSSoapBinding" type="impl:TesteWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="soma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="somaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="somaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TesteWSService">

      <wsdl:port binding="impl:TesteWSSoapBinding" name="TesteWS">

         <wsdlsoap:address location="http://localhost:8080/SOCTest/services/TesteWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
